.amount-page {
    width: 375px;
    height: 667px;
    background-color: #ff1833;
}

/*Cabecera*/

.back {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 35px;
    padding-bottom: 25px;
}

.back-img {
    width: 40px;
    height: 30px;
    padding-left: 20px;
}

.back-label {
    width: 155px;
    height: 29px;
    font-family: Lato;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff9f9;
    margin: 0;
    padding-left: 16px
}

/*Poster central*/

.type-alert {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    width: 100%;
    height: 600px;
    box-shadow: 2px 2px 4px 0 rgba(32, 35, 39, 0.25);
}

.type-alert-label {
    margin-top: 5%;
    width: 209px;
    height: 41px;
    font-family: Lato;
    font-size: 34px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.25px;
    color: #333333;
    margin-bottom: 0;
}

.imageContainer {
    height: 384px;
    width: 375px;
}

.delete {
    padding-left: 44px;
    padding-right: 68px;
    width: 84px;
    height: 84px;
    object-fit: contain;
}

.delete-label {
    width: 152px;
    height: 20px;
    font-family: Lato;
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.56;
    letter-spacing: 0.5px;
    color: #202327;
    text-align: center;
}

/*Botones*/

.sectionButtons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 3%;
}

.create-alert{
    background-color: white;
}

.create-alert-btn {
    width: 320px;
    height: 52px;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.75px;
    border-radius: 16px;
    background-color: #ff1833;
    border-color: #ff1833;
    margin-top: -11px;
}

.create-alert-label {
    width: 320px;
    height: 52px;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.75px;
    color: #ffffff;
    line-height: 50px;
}
.create-alert-btn:active {
    border-radius: 16px;
    background-color: #c3000c;
    box-shadow: inset 10px 10px 10px -4px rgba(0,0,0,0.43);
  }

.upper-block{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.amountContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    width: 40%;
    height: 135px;

}

.amount-btn{
        justify-content: center;
        display: flex;
        width: 96px;
        height: 96px;
        box-shadow: 2px 2px 4px 0 rgba(32, 35, 39, 0.25);
        background-color: #ffeaea;
        border-radius: 50%;    
        border: none;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center; 
}

.amount-btn:focus{
    box-shadow: inset -4px -4px 4px 0 rgba(145, 150, 159, 0.1), inset 4px 4px 4px 0 rgba(255, 151, 149, 0.3);
    background-color: #fff9f9;
    border-radius: 100%;
    outline: none;
}

#few{
    background-image: url("/img/Amount/Poca/Poca.png");
}

#lot{
    background-image: url("/img/Amount/Mucha/Mucha.png");
}

#crowd{
    background-image: url("/img/Amount/Aglomeracion/Aglomeracion.png");
}